<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看问卷统计</title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/count-answer.css">
</head>
<body>
    <div class="answer-box">
        <div class="answer-head">
            <div class="title">
                <h1>就是看见的卡</h1>
                <span>ID:123123213</span>
            </div>
            <div class="headRight">
                <a class="delete"></a>
            </div>
        </div>
        <div class="answer-content">
            <div class="content-box">
                <ul>
                    <li>
                        <div class="content-main">
                            <div class="main-head">
                                <h1>基本信息</h1>
                                <p>编号Id：13</p>
                                <p>开始时间:2019-12-29 结束时间:2019-12-29</p>
                            </div>
                            <div class="main-container">
                                <h1>答题详情</h1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-main">
                            <div class="main-head">
                                <h1>基本信息</h1>
                                <p>编号Id：13</p>
                                <p>开始时间:2019-12-29 结束时间:2019-12-29</p>
                            </div>
                            <div class="main-container">
                                <h1>答题详情</h1>
                                <div class="question-list">
                                    <!-- 单选题 -->
                                    <div class="question-item">
                                        <div class="question-item-title">
                                            <span>01</span>
                                            <span>单选题：</span>
                                            <span>*</span>
                                            <div class="question-desc">备注</div>
                                        </div>
                                        <div class="question-item-content">
                                            <div class="radio-primary radio-btn">
                                                <input type="radio" name="radio1" id="q-1">
                                                <label for="q-1">选项1</label>
                                            </div>
                                            <div class="radio-primary radio-btn">
                                                <input type="radio" name="radio1" id="q-2">
                                                <label for="q-2">选项2</label>
                                            </div>
                                            <div class="radio-primary radio-btn">
                                                <input type="radio" name="radio1" id="q-3">
                                                <label for="q-3">选项3</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 多选题 -->
                                    <div class="question-item">
                                        <div class="question-item-title">
                                            <span>02</span>
                                            <span>多选题：</span>
                                            <span>*</span>
                                        </div>
                                        <div class="question-item-content">
                                            <div class="checkbox-primary checkbox-btn">
                                                <input type="checkbox" id="primary1">
                                                <label for="primary1">
                                                    多选 1
                                                </label>
                                            </div>
                                            <div class="checkbox-primary checkbox-btn">
                                                <input type="checkbox" id="primary2">
                                                <label for="primary2">
                                                    多选 2
                                                </label>
                                            </div>
                                            <div class="checkbox-primary checkbox-btn">
                                                <input type="checkbox" id="primary3">
                                                <label for="primary3">
                                                    多选 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-main">3</div>
                    </li>
                </ul>
                <a class="prev"></a>
                <a class="next"></a>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/count-answer.js"></script>
</body>
</html>