<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建问卷- 免费好用的问卷调查系统,调查问卷,免费,简单,模板</title>
    <meta name="description" content="问卷，是免费、专业的问卷调查系统。提供多种方式创建问卷，简单高效的编辑方式，强大的逻辑设置功能，专业的数据统计和样本甄别，让您轻松开启调研工作。">
    <meta name="keywords" content="调查问卷,问卷调查,市场调研,问卷系统,问卷,模板,免费,简单,调研,市场调查,满意度,问卷调查网,在线问卷调查,微信问卷,投票小程序,投票">
    <link rel="shortcut icon" href="image/logo/favicon.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/create-questionnaire.css">
    <script src="js/page.js"></script>
</head>
<body>
    <div class="header">
        <a class="page-title active" onclick="changePage(event)">问卷调查系统</a>
        <a class="" onclick="changePage(event)">创建问卷</a>
        <a onclick="changePage(event)">我的问卷</a>
        <a onclick="changePage(event)">回答小组</a>
        <a onclick="changePage(event)">调查资讯</a>
        <a onclick="changePage(event)">帮助中心</a>
        <a class="login-area">
            <div class="bell"></div>
            <div class="user-icon">
                <img class="user-header-icon" src="image/icon/icon-header.jpg" alt="" >
                <span class="nickname ellipsis">小明</span>
            </div>
            <div class="btn-exit">退出</div>
        </a>
    </div>
    <!--主内容-->
    <div class="main-choice">
        <div class="create-white-page">
            <div class="bg-image-show"></div>
            <h2>创建空白页面</h2>
            <span>从一份空白问卷开始创建</span>
            <a>开始</a>
        </div>
        <div class="choice-template">
            <div class="bg-image-show"></div>
            <h2>选择问卷模板</h2>
            <span>使用问卷提供的专业模板</span>
            <a>开始</a>
        </div>
        <div class="text-edit-naire">
            <div class="bg-image-show"></div>
            <h2>文本编辑问卷</h2>
            <span>自由编辑文本自动生成问卷</span>
            <a>开始</a>
        </div>
    </div>
    <!--模本列表-->
    <div class="template-link">
        <div class="recommend-template" id="recommend_template">
            <h2>为您推荐</h2>
            <div class="row clearfix">
                <ol class="column">
                    <li>
                        <a href="">
                            <i class="order">1</i>
                            <span class="title" title="社交网站满意度问卷模板">社交网站满意度问卷模板</span>
                            <span class="ext">34个问题/4页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">2</i>
                            <span class="title" title="购物网用户满意度调查">购物网用户满意度调查</span>
                            <span class="ext">21个问题/1页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">3</i>
                            <span class="title" title="数码家电类产品满意度模板">数码家电类产品满意度模板</span>
                            <span class="ext">32个问题/4页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">4</i>
                            <span class="title" title="网购消费者的行为习惯调查">网购消费者的行为习惯调查</span>
                            <span class="ext">28个问题/4页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">5</i>
                            <span class="title" title="餐饮类团购用户满意度问卷模板">餐饮类团购用户满意度问卷模板</span>
                            <span class="ext">31个问题/3页</span>
                        </a>
                    </li>
                </ol>
                <ol class="column">
                    <li>
                        <a href="">
                            <i class="order">6</i>
                            <span class="title" title="圣诞狂欢市场调查问卷">圣诞狂欢市场调查问卷</span>
                            <span class="ext">18个问题/1页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">7</i>
                            <span class="title" title="团购网站用户满意度问卷模板">团购网站用户满意度问卷模板</span>
                            <span class="ext">37个问题/4页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">8</i>
                            <span class="title" title="旅游电子商务-消费心理与消费行为调查问卷">旅游电子商务-消费心理与消费行为调查问卷</span>
                            <span class="ext">15个问题/1页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">9</i>
                            <span class="title" title="玩具网站用户满意度问卷模板">玩具网站用户满意度问卷模板</span>
                            <span class="ext">34个问题/4页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="order">10</i>
                            <span class="title" title="旅游网站用户小调查">旅游网站用户小调查</span>
                            <span class="ext">24个问题/3页</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div id="footer" class="footer-copyright">
        <p>Copyright © 1998-<span class="copyright_end">2019</span> Tencent. All Rights Reserved.</p>
        <p>
            <span>腾讯公司 版权所有</span>
            <a href="" class="link" target="_blank" title="关于我们">关于我们</a>
            <a href="" class="link" target="_blank" title="用户协议">用户协议</a>
            <a href="" class="link" target="_blank" title="问题反馈">问题反馈</a>
            <a href="" class="link" target="_blank" title=""></a>
            <a href="" class="link" target="_blank" title="服务协议">服务协议</a>
            <a href="" class="link" target="_blank" title="隐私政策">隐私政策</a>
        </p>
    </div>
</body>
</html>