<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>回收数据</title>
    <link rel="stylesheet" href="./lib/layui-v2.5.4/css/layui.css">
    <link rel="stylesheet" href="./zui/css/zui.min.css">
    <link rel="stylesheet" href="./zui/lib/datetimepicker/datetimepicker.min.css">
    <link rel="stylesheet" href="./css/fill-situation.css">
</head>
<body>
    <div class="reclaim-box">
        <div class="situation-title">
            <h1>问卷标题</h1>
            <span>回收量1</span>
        </div>
        <div class="reclaim-content">
            <table class="layui-hide" id="reclaim-list" lay-filter="reclaim-list"></table>
        </div>
    </div>
    <script src="./js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="./lib/layui-v2.5.4/layui.all.js"></script>
    <script src="./zui/js/zui.min.js"></script>
    <script src="./zui/lib/datetimepicker/datetimepicker.min.js"></script>
</body>
</html>