<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>问卷模板</title>
    <link rel="stylesheet" href="../css/template.css">
</head>
<body>
    <div class="template-box">
        <div class="temolate-header">
            <div class="search">
                <input type="text" placeholder="请输入标题关键字搜索模板">
                <button>
                    <i></i>
                    搜索
                </button>
            </div>
        </div>
        <!-- 模板主体内容 -->
        <div class="template-container">
            <!-- 左侧 -->
            <div class="content-left">
                <ul>
                    <li class="category-title">
                        <i></i>
                        场景分类
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span> 调查</span> 
                            <span>24</span>          
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>测试</span>
                            <span>2</span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>满意度</span>
                            <span>10</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="category-title">
                        <i></i>
                        行业分类
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>互联网</span>
                            <span></span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>生活商业</span>
                            <span></span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>食品保健</span>
                            <span></span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>娱乐</span>
                            <span></span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="javascript:;">
                            <span>个人</span>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="template-content">
                <div class="content-center">
                    <h1>
                        <i>全部</i>
                        <span></span>
                    </h1>
                    <ul>
                        <li class="active">社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                        <li>社交网站满意度问卷模板</li>
                    </ul>
                </div>
                <div class="content-right"></div>
            </div>
        </div>
    </div>
</body>
</html>