<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题目列表</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/subject.css">
</head>
<body>
    <div class="panel-page">
        <div class="wrap-subject clearfix">
            <div class="radio-subject">
                <div class="radio-title">
                    <span>2019年是平年还是闰年？</span><i>*</i>
                </div>
                <div class="radio-remark">备注：</div>
                <div class="radio-option">
                    <input type="radio" name="year">
                    <label for="">是</label>
                </div>
                <div class="radio-option">
                    <input type="radio" name="year">
                    <label for="">否</label>
                </div>
            </div>
            <div class="subject-operation">
                <div class="edit-subject" onclick="editSubject(event)"></div>
                <div class=""></div>
                <div class="process-subject"></div>
                <div class="delete-subject"></div>
                <div class="collect-subject"></div>
            </div>
        </div>
        <div class="wrap-subject clearfix">
            <div class="radio-subject">
                <div class="radio-title">
                    <span>2019年是平年还是闰年？</span><i>*</i>
                </div>
                <div class="radio-remark">备注：</div>
                <div class="radio-option">
                    <input type="checkbox" name="year">
                    <label for="">否</label>
                </div>
                <div class="radio-option">
                    <input type="checkbox" name="year">
                    <label for="">否</label>
                </div>
                <div class="radio-option">
                    <input type="checkbox" name="year">
                    <label for="">不知道</label>
                </div>
            </div>
            <div class="subject-operation">
                <div class="edit-subject"></div>
                <div class=""></div>
                <div class="process-subject"></div>
                <div class="delete-subject"></div>
                <div class="collect-subject"></div>
            </div>
        </div>
    </div>
</body>
</html>