#year,#unyear{
	width:186px;
}
.unanswer-list,.answer-list{
	padding:20px;
	height: calc(100% - 40px);
	overflow-y: auto;
}
.layui-table-cell .layui-form-checkbox[lay-skin=primary]{
 	top:7px;
 }
.title:hover{
	color:#0a67fb;
}
.newItem{
	font-size: 13px;
	background-color: red;
	color: #fff;
	border-radius: 2px;
	padding: 3px;
	/* display: inline-block; */
	/* vertical-align: top; */
	margin-right: 6px;
}