@charset "UTF-8";
.empty-page {
  height: 100%;
  /*副标题*/
  /*空问卷页面*/
  /**副标题**/
  /*布局九宫格*/
}
.empty-page .sub-header {
  height: 60px;
}
.empty-page .sub-header .sub-header-left {
  float: left;
  margin-top: 12px;
  margin-left: 20px;
}
.empty-page .sub-header .sub-header-left .btn {
  display: block;
}
.empty-page .sub-header .sub-header-left .btn-primary {
  vertical-align: middle;
  font-size: 14px;
  width: 70px;
  float: left;
  padding: 10px 15px;
}
.empty-page .sub-header .sub-header-left .btn-primary:first-child {
  line-height: 1;
}
.empty-page .sub-header .sub-header-left .btn-primary:first-child i {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.empty-page .sub-header .sub-header-left .btn-primary.deleteAll {
  margin-left: 20px;
  width: 45px;
  padding: 6px 5px;
}
.empty-page .sub-header .sub-header-left .btn-back {
  float: left;
  width: 30px;
  height: 35px;
  margin-right: 20px;
  background: url(../image/icon/icon-back-gray.png) no-repeat center center / 30px 25px;
}
.empty-page .sub-header .sub-header-right {
  float: right;
  width: calc(100% - 202px);
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.empty-page .sub-header .sub-header-right .sub-header-btn {
  width: 30px;
  height: 100%;
  padding: 0 20px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:first-child {
  background: url("../image/icon/icon-folder-gray.png") no-repeat center center / 30px 30px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:nth-child(2) {
  background: url("../image/icon/icon-delete-gray.png") no-repeat center center / 25px 25px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:nth-child(3) {
  background: url("../image/icon/icon-list-gray.png") no-repeat center center / 25px 25px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:nth-child(4) {
  background: url("../image/icon/icon-grid-gray.png") no-repeat center center / 30px 30px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:hover:first-child {
  background: url("../image/icon/icon-folder-blue.png") no-repeat center center / 30px 30px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:hover:nth-child(2) {
  background: url("../image/icon/icon-delete-blue.png") no-repeat center center / 25px 25px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:hover:nth-child(3) {
  background: url("../image/icon/icon-list-blue.png") no-repeat center center / 25px 25px;
}
.empty-page .sub-header .sub-header-right .sub-header-btn:hover:nth-child(4) {
  background: url("../image/icon/icon-grid-blue.png") no-repeat center center / 30px 30px;
}
.empty-page .emptyTip {
  height: 390px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F4F6F9;
}
.empty-page .emptyTip p {
  margin: 20px 0;
  font-size: 20px;
  color: #999;
}
.empty-page .emptyTip a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #FFF;
  padding: 5px 10px 5px 30px;
  text-align: center;
  background-image: url("../image/icon/icon-add-white.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  background-color: #008FFF;
  text-decoration: none;
  border-radius: 5px;
}
.empty-page .emptyTip a:hover {
  text-decoration: none;
  color: #FFF;
}
.empty-page .sub-header-2 {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.empty-page .sub-header-2 .btn-back {
  width: 30px;
  height: 100%;
  background: url("../image/icon/icon-back-gray.png") no-repeat center center / 30px 25px;
}
.empty-page .sub-header-2 .btn-back:hover {
  background: url("../image/icon/icon-back-blue.png") no-repeat center center / 30px 25px;
}
.empty-page .sub-header-2 .sub-title {
  line-height: 60px;
  font-size: 18px;
  color: #999999;
  text-decoration: none;
  cursor: default;
}
.empty-page .sub-header-2 .sub-header-btn {
  width: 30px;
  height: 100%;
  background: url("../image/icon/icon-list-gray.png") no-repeat center center / 25px 25px;
}
.empty-page .sub-header-2 .sub-header-btn:hover {
  background: url("../image/icon/icon-list-blue.png") no-repeat center center / 25px 25px;
}
.empty-page .sub-header-2 .sub-header-btn:last-child {
  background: url("../image/icon/icon-grid-gray.png") no-repeat center center / 30px 30px;
}
.empty-page .sub-header-2 .sub-header-btn:last-child:hover {
  background: url("../image/icon/icon-grid-blue.png") no-repeat center center / 30px 30px;
}
.empty-page .wrap-grid {
  width: calc(100% - 40px);
  padding: 20px 20px 20px 20px;
  background-color: #F4F6F9;
  height: calc(100% - 120px);
  /*表格视图*/
  /*问卷信息详情*/
}
.empty-page .wrap-grid .card-grid {
  float: left;
  width: calc(100%);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  transition: width 0.5s;
}
.empty-page .wrap-grid .card-grid .grid-point {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.empty-page .wrap-grid .card-grid .card-item {
  width: 120px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  cursor: pointer;
}
.empty-page .wrap-grid .card-grid .card-item .icon-folder {
  width: 100%;
  margin-top: 20px;
  position: relative;
  height: 105px;
}
.empty-page .wrap-grid .card-grid .card-item .icon-folder .icon-folder-header {
  display: block;
  width: 36%;
  height: 5px;
  border-radius: 3px 2px 0 0;
  background-color: #2196f3;
}
.empty-page .wrap-grid .card-grid .card-item .icon-folder .icon-folder-middle {
  display: block;
  width: 100%;
  height: 20px;
  background-color: #2196f3;
}
.empty-page .wrap-grid .card-grid .card-item .icon-folder .icon-folder-main {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #81c2f6;
}
.empty-page .wrap-grid .card-grid .card-item .folderbtn {
  height: 125px;
}
.empty-page .wrap-grid .card-grid .card-item .folderbtn .more-btn {
  display: none;
  width: 20px;
  height: 20px;
  background-image: url("../image/icon/icon-more-blue.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px 20px;
  background-color: #FFF;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.empty-page .wrap-grid .card-grid .card-item .folderbtn .more-btn ul {
  display: none;
}
.empty-page .wrap-grid .card-grid .card-item:hover .more-btn {
  display: block;
}
.empty-page .wrap-grid .card-grid .card-item .new-folder {
  width: 100%;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
}
.empty-page .wrap-grid .card-grid .card-item .bg-card-image {
  width: 110px;
  height: 140px;
  background-image: url("../image/bg/bg-thumbnail.jpg");
  background-position: 5px 5px;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
  border: 1px solid #CCC;
}
.empty-page .wrap-grid .card-grid .card-item .bg-card-image:hover {
  border: 1px solid #008fff;
}
.empty-page .wrap-grid .card-grid .card-item .bg-card-image .more-btn {
  width: 20px;
  height: 20px;
  background: url("../image/icon/icon-more-gray.png") no-repeat left top / 20px 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.empty-page .wrap-grid .card-grid .card-item .bg-card-image .more-btn:hover {
  background: url("../image/icon/icon-more-blue.png") no-repeat left top / 20px 20px;
}
.empty-page .wrap-grid .card-grid .card-item .bg-card-image .more-btn ul {
  display: none;
}
.empty-page .wrap-grid .card-grid .card-item .bg-card-image .dropdown {
  height: 100%;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc {
  width: 100%;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc .card-desc-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5px 0;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc .card-desc-title i {
  background-color: #f00;
  margin-right: 5px;
  display: block;
  width: 5px;
  height: 6px;
  border-radius: 50%;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc .card-desc-title i.active {
  background-color: #48c511;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc .card-desc-title span {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc .card-desc-title span:hover {
  color: #008fff;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc em {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  cursor: pointer;
}
.empty-page .wrap-grid .card-grid .card-item .card-desc em:hover {
  color: #008fff;
}
.empty-page .wrap-grid .card-grid-decrease {
  width: calc(100% - 400px);
}
.empty-page .wrap-grid .table-wrap {
  float: left;
  width: calc(100%);
  height: 100%;
  overflow-y: scroll;
}
.empty-page .wrap-grid .table-wrap .deleteAll {
  font-family: "微软雅黑";
  margin-bottom: 10px;
  outline: none;
}
.empty-page .wrap-grid .table-wrap .table {
  width: calc(100%);
  margin-bottom: 0;
  transition: width 0.5s;
}
.empty-page .wrap-grid .table-wrap .table thead {
  height: 60px;
}
.empty-page .wrap-grid .table-wrap .table thead .all_select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.empty-page .wrap-grid .table-wrap .table thead .all_select :after,
.empty-page .wrap-grid .table-wrap .table thead .all_select :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.empty-page .wrap-grid .table-wrap .table thead tr th {
  padding: 17px 0;
  font-size: 14px;
  color: #999;
  font-weight: normal;
}
.empty-page .wrap-grid .table-wrap .table thead tr th:first-child {
  padding-top: 20px;
  padding-bottom: 12px;
}
.empty-page .wrap-grid .table-wrap .table tbody {
  vertical-align: top;
  border-color: #FFF;
}
.empty-page .wrap-grid .table-wrap .table tbody tr {
  height: 54px;
  background-color: #FFF;
  cursor: pointer;
  width: calc(100% - 20px);
}
.empty-page .wrap-grid .table-wrap .table tbody tr .list-item {
  width: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.empty-page .wrap-grid .table-wrap .table tbody tr .list-item :after,
.empty-page .wrap-grid .table-wrap .table tbody tr .list-item :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td {
  height: 20px;
  padding: 17px 0;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  position: relative;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .icon-folder {
  width: 21px;
  height: 21px;
  float: left;
  margin: 0 10px;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .icon-folder .icon-folder-header {
  display: block;
  width: 10px;
  height: 3px;
  border-radius: 3px 2px 0 0;
  background-color: #2196f3;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .icon-folder .icon-folder-middle {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .icon-folder .icon-folder-main {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #81c2f6;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td i {
  background-color: #f00;
  margin-top: 7px;
  margin-left: 5px;
  display: inline-block;
  width: 5px;
  height: 6px;
  border-radius: 50%;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td i.active {
  background-color: #48c511;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td span {
  text-align: left;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td em {
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  cursor: pointer;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .more-btn {
  width: 20px;
  height: 20px;
  background: url("../image/icon/icon-more-gray.png") no-repeat left top / 20px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .more-btn:hover {
  background: url("../image/icon/icon-more-blue.png") no-repeat left top / 20px 20px;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .more-btn ul {
  display: none;
}
.empty-page .wrap-grid .table-wrap .table tbody tr td .dropdown {
  height: 100%;
}
.empty-page .wrap-grid .table-wrap .dropdown-menu {
  min-width: 200px;
}
.empty-page .wrap-grid .table-decrease {
  width: calc(100% - 400px);
}
.empty-page .wrap-grid .draw-info {
  float: right;
  width: 0px;
  min-height: 300px;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  transition: width 0.5s, opacity 0.5s;
  position: relative;
}
.empty-page .wrap-grid .draw-info .draw-title {
  width: calc(400px - 40px);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empty-page .wrap-grid .draw-info .draw-title .base-title {
  width: calc(100%);
  padding: 20px 30px 20px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}
.empty-page .wrap-grid .draw-info .draw-title .base-close {
  width: 20px;
  height: 20px;
  background: url("../image/icon/icon-delete.png") center center / 20px 20px;
  cursor: pointer;
}
.empty-page .wrap-grid .draw-info .draw-title .base-close:hover {
  background: url("../image/icon/icon-delete1-blue.png") center center / 20px 20px;
}
.empty-page .wrap-grid .draw-info .alert {
  display: flex;
  justify-content: space-around;
}
.empty-page .wrap-grid .draw-info .alert span {
  display: block;
  width: 50%;
  text-align: left;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}
.empty-page .wrap-grid .draw-info .alert span:last-child {
  text-align: right;
}
.empty-page .wrap-grid .draw-info ul .base-info {
  padding: 0 20px;
  line-height: 40px;
  border-bottom: 1px solid #e1e7f2;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  background-color: #FFF;
}
.empty-page .wrap-grid .draw-info ul .base-info .base-info-lt {
  color: #a9a9a9;
}
.empty-page .wrap-grid .draw-info ul .base-info .base-info-rt i {
  display: inline-block;
  line-height: 40px;
}
.empty-page .wrap-grid .draw-info ul .base-info .base-info-rt i input {
  line-height: 40px;
}
.empty-page .wrap-grid .draw-info ul .base-info .base-info-rt input {
  width: 200px;
  line-height: 40px;
}
.empty-page .wrap-grid .draw-increase {
  width: 400px;
  opacity: 1;
}
.empty-page .wrap-grid .drap-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 100%;
  display: flex;
  background-color: #fff;
}
.empty-page .wrap-grid .drap-btn dl {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-page .wrap-grid .drap-btn dl dt {
  width: 30px;
  height: 30px;
  background-position: center 30px;
  background-size: 30px 30px;
}
.empty-page .wrap-grid .drap-btn dl dt .icon {
  fill: #008fff;
  stroke: #008fff;
  overflow: inherit;
}
.empty-page .wrap-grid .drap-btn dl dd {
  margin-top: 5px;
}
.empty-page .wrap-grid .drap-btn dl:hover dd {
  color: #008fff;
}
